html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display {
    margin-bottom: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    text-align: right;
}

.btn-container {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.btn-row {
    display: flex;
    gap: 8px;
}

.btn {
    height: 50px;
    width: 50px;
}

#ac, #del, #equals {
    flex: 1;
    width: auto;
}